@import './tailwind.output.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-tab {
  @mixin sudoprops {
    content: '';
    width: 2px;
    height: 110%;
    display: inline-block;
    background-color: mediumseagreen;
    transform: rotate(30deg);
    position: relative;
  }

  &::after {
    @include sudoprops;
    margin-left: 12px;
  }

  &::before {
    @include sudoprops;
    margin-right: 12px;
  }
}
